*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp
*.svg
*.heic
*.heif

*.pyc
node_modules/

.DS_Store

# User data (ignore JSON files but keep folder structure)
data/*.json
data/graph.db

**/*.egg-info/